{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es5",
    "paths": {
      "@util/*": [
        "./src/util/*"
      ]
    }
  },
  "module": {
    "type": "es6"
  }
}
