{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es5",
    "baseUrl": "dist",
    "paths": {
      "@core": [
        "core"
      ],
      "@core/*": [
        "core/*"
      ],
      "@common": [
        "common"
      ],
      "@common/*": [
        "common/*"
      ],
      "@util": [
        "util"
      ],
      "@util/*": [
        "util/*"
      ]
    }
  },
  "sourceMaps": true,
  "inlineSourcesContent": true,
  "module": {
    "type": "commonjs"
  },
  "isModule": false
}
